body {
    font-family: Arial, sans-serif;
    background-color: #380a0a;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.persona-card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 6px 14px rgba(0,0,0,0.2);
    max-width: 600px;
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;


    border: 5px solid white;
    box-shadow: 0 0 0 4px #000000;
}


h1 {
    color: #140f0f;
    margin: 8px 0 5px;
    display: inline-block;
}


h1::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #616161;
    margin-top: 6px;
    border-radius: 3px;
}


h2 {
    margin-top: 6px;
}

.bio {
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 15px;
}


.details {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: 20px;
}

.column {
    width: 45%;
}

h3 {
    color: #555;
    border-bottom: 2px solid #ddd;
}
